LIVE_DATABASE_URL= sample value for the live database connection string

TESTING_DATABASE_URL= sample value for the testing database connection string

DATABASE_URL= sample value for the default database connection string, typically used for development


BETTER_AUTH_SECRET= sample value for the secret key used in authentication processes
BETTER_AUTH_URL="http://localhost:3000"

INITIAL_EXECUTIVE_EMAIL="admin@admin.com"
INITIAL_EXECUTIVE_PASSWORD="admin123!"
INITIAL_EXECUTIVE_NAME="WEBDEVELOPER"
INITIAL_ROLE="FULLSTACK DEVELOPER"
DEFAULT_TEMPORARY_PASSWORD= sample value for the default temporary password used for new accounts or password resets

CONFIRM_TEST_DB_CLEAN="YES"
CONFIRM_TEST_DB_SEED="YES"
TEST_ACCOUNT_PASSWORD="qwerty123!"  